li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Ahri.png')
  .cName.col-xs-4 Ahri
  .cMastery.col-xs-6 4.240454108773181
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Thresh.png')
  .cName.col-xs-4 Thresh
  .cMastery.col-xs-6 3.1982474368081166
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Irelia.png')
  .cName.col-xs-4 Irelia
  .cMastery.col-xs-6 2.836559992668644
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Yasuo.png')
  .cName.col-xs-4 Yasuo
  .cMastery.col-xs-6 2.4933998567323408
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/LeBlanc.png')
  .cName.col-xs-4 LeBlanc
  .cMastery.col-xs-6 2.4230472854742624
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Fizz.png')
  .cName.col-xs-4 Fizz
  .cMastery.col-xs-6 2.03414094741971
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Ezreal.png')
  .cName.col-xs-4 Ezreal
  .cMastery.col-xs-6 1.5698488877988521
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Lulu.png')
  .cName.col-xs-4 Lulu
  .cMastery.col-xs-6 1.4710044067184918
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Nidalee.png')
  .cName.col-xs-4 Nidalee
  .cMastery.col-xs-6 1.4702872849511648
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Elise.png')
  .cName.col-xs-4 Elise
  .cMastery.col-xs-6 1.4392137858699652
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Zed.png')
  .cName.col-xs-4 Zed
  .cMastery.col-xs-6 1.3460258695556357
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Janna.png')
  .cName.col-xs-4 Janna
  .cMastery.col-xs-6 1.251171104799862
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Azir.png')
  .cName.col-xs-4 Azir
  .cMastery.col-xs-6 1.1399547857960028
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Orianna.png')
  .cName.col-xs-4 Orianna
  .cMastery.col-xs-6 1.1309489225064921
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/LeeSin.png')
  .cName.col-xs-4 Lee Sin
  .cMastery.col-xs-6 1.034199461715875
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Jinx.png')
  .cName.col-xs-4 Jinx
  .cMastery.col-xs-6 1.0026450243803438
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Gnar.png')
  .cName.col-xs-4 Gnar
  .cMastery.col-xs-6 0.9595995216832424
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Lux.png')
  .cName.col-xs-4 Lux
  .cMastery.col-xs-6 0.9293371190557409
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Ekko.png')
  .cName.col-xs-4 Ekko
  .cMastery.col-xs-6 0.8822385130362388
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Viktor.png')
  .cName.col-xs-4 Viktor
  .cMastery.col-xs-6 0.8814061157191303
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Diana.png')
  .cName.col-xs-4 Diana
  .cMastery.col-xs-6 0.8811961287134039
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Lissandra.png')
  .cName.col-xs-4 Lissandra
  .cMastery.col-xs-6 0.8808478431014991
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Gragas.png')
  .cName.col-xs-4 Gragas
  .cMastery.col-xs-6 0.811510998795645
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Morgana.png')
  .cName.col-xs-4 Morgana
  .cMastery.col-xs-6 0.795370064710033
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Nami.png')
  .cName.col-xs-4 Nami
  .cMastery.col-xs-6 0.7142673664924483
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Annie.png')
  .cName.col-xs-4 Annie
  .cMastery.col-xs-6 0.7114684817056842
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/KhaZix.png')
  .cName.col-xs-4 Kha'Zix
  .cMastery.col-xs-6 0.6940340351374215
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Katarina.png')
  .cName.col-xs-4 Katarina
  .cMastery.col-xs-6 0.6939877330536312
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Tristana.png')
  .cName.col-xs-4 Tristana
  .cMastery.col-xs-6 0.6782015105548537
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Vladimir.png')
  .cName.col-xs-4 Vladimir
  .cMastery.col-xs-6 0.6640678244742328
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Corki.png')
  .cName.col-xs-4 Corki
  .cMastery.col-xs-6 0.6567156952019021
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Lucian.png')
  .cName.col-xs-4 Lucian
  .cMastery.col-xs-6 0.6546698180940946
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Blitzcrank.png')
  .cName.col-xs-4 Blitzcrank
  .cMastery.col-xs-6 0.6222662425347913
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Cassiopeia.png')
  .cName.col-xs-4 Cassiopeia
  .cMastery.col-xs-6 0.61289397432113
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Kindred.png')
  .cName.col-xs-4 Kindred
  .cMastery.col-xs-6 0.6111982214251752
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Caitlyn.png')
  .cName.col-xs-4 Caitlyn
  .cMastery.col-xs-6 0.5983384519041073
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Graves.png')
  .cName.col-xs-4 Graves
  .cMastery.col-xs-6 0.5973065843749105
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Malphite.png')
  .cName.col-xs-4 Malphite
  .cMastery.col-xs-6 0.5857139161458593
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Brand.png')
  .cName.col-xs-4 Brand
  .cMastery.col-xs-6 0.5852594006595243
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Renekton.png')
  .cName.col-xs-4 Renekton
  .cMastery.col-xs-6 0.576082551503704
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Syndra.png')
  .cName.col-xs-4 Syndra
  .cMastery.col-xs-6 0.5381003597949656
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Shen.png')
  .cName.col-xs-4 Shen
  .cMastery.col-xs-6 0.5378945967693065
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Vayne.png')
  .cName.col-xs-4 Vayne
  .cMastery.col-xs-6 0.5375823237854013
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Nautilus.png')
  .cName.col-xs-4 Nautilus
  .cMastery.col-xs-6 0.5359743518033901
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Xerath.png')
  .cName.col-xs-4 Xerath
  .cMastery.col-xs-6 0.516152700575214
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Riven.png')
  .cName.col-xs-4 Riven
  .cMastery.col-xs-6 0.5088214947022751
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Karma.png')
  .cName.col-xs-4 Karma
  .cMastery.col-xs-6 0.4562961526583698
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Kassadin.png')
  .cName.col-xs-4 Kassadin
  .cMastery.col-xs-6 0.454414375421188
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/RekSai.png')
  .cName.col-xs-4 Rek'Sai
  .cMastery.col-xs-6 0.45196679678292473
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Varus.png')
  .cName.col-xs-4 Varus
  .cMastery.col-xs-6 0.4473882247062888
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/KogMaw.png')
  .cName.col-xs-4 Kog'Maw
  .cMastery.col-xs-6 0.4343608414570983
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Fiora.png')
  .cName.col-xs-4 Fiora
  .cMastery.col-xs-6 0.43141912887395095
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Hecarim.png')
  .cName.col-xs-4 Hecarim
  .cMastery.col-xs-6 0.43048192199653224
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Maokai.png')
  .cName.col-xs-4 Maokai
  .cMastery.col-xs-6 0.42095024574329964
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Braum.png')
  .cName.col-xs-4 Braum
  .cMastery.col-xs-6 0.41770440194264247
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Jayce.png')
  .cName.col-xs-4 Jayce
  .cMastery.col-xs-6 0.4099370842930555
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Wukong.png')
  .cName.col-xs-4 Wukong
  .cMastery.col-xs-6 0.39796937414838507
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/MasterYi.png')
  .cName.col-xs-4 Master Yi
  .cMastery.col-xs-6 0.39766102047097596
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Ryze.png')
  .cName.col-xs-4 Ryze
  .cMastery.col-xs-6 0.3707813307813977
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Nocturne.png')
  .cName.col-xs-4 Nocturne
  .cMastery.col-xs-6 0.36932881229848374
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Kayle.png')
  .cName.col-xs-4 Kayle
  .cMastery.col-xs-6 0.36498112204377364
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/JarvanIV.png')
  .cName.col-xs-4 Jarvan IV
  .cMastery.col-xs-6 0.36186221997971385
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Shyvana.png')
  .cName.col-xs-4 Shyvana
  .cMastery.col-xs-6 0.35896340364041657
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Poppy.png')
  .cName.col-xs-4 Poppy
  .cMastery.col-xs-6 0.3449052470452393
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Sivir.png')
  .cName.col-xs-4 Sivir
  .cMastery.col-xs-6 0.34049130739262695
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Leona.png')
  .cName.col-xs-4 Leona
  .cMastery.col-xs-6 0.3381227145925987
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Rumble.png')
  .cName.col-xs-4 Rumble
  .cMastery.col-xs-6 0.33791125958433244
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Sona.png')
  .cName.col-xs-4 Sona
  .cMastery.col-xs-6 0.3337560358404668
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Talon.png')
  .cName.col-xs-4 Talon
  .cMastery.col-xs-6 0.3310246642628182
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Soraka.png')
  .cName.col-xs-4 Soraka
  .cMastery.col-xs-6 0.329459364667187
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Alistar.png')
  .cName.col-xs-4 Alistar
  .cMastery.col-xs-6 0.32827546840505817
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/MissFortune.png')
  .cName.col-xs-4 Miss Fortune
  .cMastery.col-xs-6 0.3248115655817325
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Vi.png')
  .cName.col-xs-4 Vi
  .cMastery.col-xs-6 0.32382205667047587
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Anivia.png')
  .cName.col-xs-4 Anivia
  .cMastery.col-xs-6 0.32114145821176515
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Ziggs.png')
  .cName.col-xs-4 Ziggs
  .cMastery.col-xs-6 0.31770812120718983
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Pantheon.png')
  .cName.col-xs-4 Pantheon
  .cMastery.col-xs-6 0.3103823655777564
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Amumu.png')
  .cName.col-xs-4 Amumu
  .cMastery.col-xs-6 0.30630915946151505
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/TahmKench.png')
  .cName.col-xs-4 Tahm Kench
  .cMastery.col-xs-6 0.3049865735209476
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Quinn.png')
  .cName.col-xs-4 Quinn
  .cMastery.col-xs-6 0.3010806342949637
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Ashe.png')
  .cName.col-xs-4 Ashe
  .cMastery.col-xs-6 0.295410886691557
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Veigar.png')
  .cName.col-xs-4 Veigar
  .cMastery.col-xs-6 0.29010729587301304
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/ChoGath.png')
  .cName.col-xs-4 Cho'Gath
  .cMastery.col-xs-6 0.28635114632135616
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Volibear.png')
  .cName.col-xs-4 Volibear
  .cMastery.col-xs-6 0.28301255133617276
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/DrMundo.png')
  .cName.col-xs-4 Dr. Mundo
  .cMastery.col-xs-6 0.27231068536039194
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Sejuani.png')
  .cName.col-xs-4 Sejuani
  .cMastery.col-xs-6 0.27013380907845985
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Teemo.png')
  .cName.col-xs-4 Teemo
  .cMastery.col-xs-6 0.2530376528796105
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Swain.png')
  .cName.col-xs-4 Swain
  .cMastery.col-xs-6 0.2487715304817374
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Skarner.png')
  .cName.col-xs-4 Skarner
  .cMastery.col-xs-6 0.23562775676497782
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Rammus.png')
  .cName.col-xs-4 Rammus
  .cMastery.col-xs-6 0.224079426838533
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Heimerdinger.png')
  .cName.col-xs-4 Heimerdinger
  .cMastery.col-xs-6 0.22292419559224802
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Jax.png')
  .cName.col-xs-4 Jax
  .cMastery.col-xs-6 0.22131237860022612
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/XinZhao.png')
  .cName.col-xs-4 Xin Zhao
  .cMastery.col-xs-6 0.2093792932807663
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Nasus.png')
  .cName.col-xs-4 Nasus
  .cMastery.col-xs-6 0.20578235986894858
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Malzahar.png')
  .cName.col-xs-4 Malzahar
  .cMastery.col-xs-6 0.1943257499805812
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Singed.png')
  .cName.col-xs-4 Singed
  .cMastery.col-xs-6 0.19196064580205238
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Aatrox.png')
  .cName.col-xs-4 Aatrox
  .cMastery.col-xs-6 0.1897060199730062
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Zyra.png')
  .cName.col-xs-4 Zyra
  .cMastery.col-xs-6 0.18643517904965184
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Nunu.png')
  .cName.col-xs-4 Nunu
  .cMastery.col-xs-6 0.1836314387619706
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/VelKoz.png')
  .cName.col-xs-4 Vel'Koz
  .cMastery.col-xs-6 0.1835482283177294
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Kalista.png')
  .cName.col-xs-4 Kalista
  .cMastery.col-xs-6 0.18324802024950027
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Trundle.png')
  .cName.col-xs-4 Trundle
  .cMastery.col-xs-6 0.18082099986257813
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Zilean.png')
  .cName.col-xs-4 Zilean
  .cMastery.col-xs-6 0.18000981232955401
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Mordekaiser.png')
  .cName.col-xs-4 Mordekaiser
  .cMastery.col-xs-6 0.17558083346178893
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Garen.png')
  .cName.col-xs-4 Garen
  .cMastery.col-xs-6 0.17265797213683298
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Galio.png')
  .cName.col-xs-4 Galio
  .cMastery.col-xs-6 0.165244924524643
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Bard.png')
  .cName.col-xs-4 Bard
  .cMastery.col-xs-6 0.15616440521314678
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Yorick.png')
  .cName.col-xs-4 Yorick
  .cMastery.col-xs-6 0.14828397140967947
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Akali.png')
  .cName.col-xs-4 Akali
  .cMastery.col-xs-6 0.1469427821663513
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Olaf.png')
  .cName.col-xs-4 Olaf
  .cMastery.col-xs-6 0.1342757327470211
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Warwick.png')
  .cName.col-xs-4 Warwick
  .cMastery.col-xs-6 0.13228147534271387
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Twitch.png')
  .cName.col-xs-4 Twitch
  .cMastery.col-xs-6 0.13183961513794074
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/AurelionSol.png')
  .cName.col-xs-4 Aurelion Sol
  .cMastery.col-xs-6 0.12397727268768043
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Taric.png')
  .cName.col-xs-4 Taric
  .cMastery.col-xs-6 0.11124701870270856
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Darius.png')
  .cName.col-xs-4 Darius
  .cMastery.col-xs-6 0.09747801390853236
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Shaco.png')
  .cName.col-xs-4 Shaco
  .cMastery.col-xs-6 0.09211423242503822
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Fiddlesticks.png')
  .cName.col-xs-4 Fiddlesticks
  .cMastery.col-xs-6 0.08839287772802867
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Zac.png')
  .cName.col-xs-4 Zac
  .cMastery.col-xs-6 0.07503057922357828
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Kennen.png')
  .cName.col-xs-4 Kennen
  .cMastery.col-xs-6 0.060841871624397685
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/TwistedFate.png')
  .cName.col-xs-4 Twisted Fate
  .cMastery.col-xs-6 0.048508290526016684
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Urgot.png')
  .cName.col-xs-4 Urgot
  .cMastery.col-xs-6 0.04465515166047175
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Udyr.png')
  .cName.col-xs-4 Udyr
  .cMastery.col-xs-6 0.030283486576097023
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Evelynn.png')
  .cName.col-xs-4 Evelynn
  .cMastery.col-xs-6 0.0221667308330607
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Karthus.png')
  .cName.col-xs-4 Karthus
  .cMastery.col-xs-6 0.01482863391942632
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Draven.png')
  .cName.col-xs-4 Draven
  .cMastery.col-xs-6 0.010118195292668414
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Illaoi.png')
  .cName.col-xs-4 Illaoi
  .cMastery.col-xs-6 -0.023115116649898106
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Sion.png')
  .cName.col-xs-4 Sion
  .cMastery.col-xs-6 -0.22285197864979536
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Tryndamere.png')
  .cName.col-xs-4 Tryndamere
  .cMastery.col-xs-6 -0.2618579027665379
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Gangplank.png')
  .cName.col-xs-4 Gangplank
  .cMastery.col-xs-6 -0.3492735837582541
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Jhin.png')
  .cName.col-xs-4 Jhin
  .cMastery.col-xs-6 -0.906130184639193
li.compatibility.row.top-buffer
  .cSprite.col-xs-2
    img.small-img(src='http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Rengar.png')
  .cName.col-xs-4 Rengar
  .cMastery.col-xs-6 -1.6233467374703692