doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= "About | Blitzcrank's Matchmaking Service"
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='heart.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
  body
    .intro
      .description
        h1 About
        p This particular incarnation of the Matchmaking Service was developed by Quoc-Anh Vu as an entry to the #[a(href='https://developer.riotgames.com/discussion/announcements/show/eoq3tZd1') Riot API April 2016 contest.] 
        p Copyright (c) [2016] [Quoc-Anh Vu]
        p Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
        p The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        p THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
      .footer
        a(href='/') Blitzcrank's Matchmaking Service
        span.seperator |
        span.bold About
        span.seperator |
        a(href='/documentation.html') Documentation
        span.seperator |
        a(href='https://github.com/QuocAnhVu/LoL-Champion-Recommender') GitHub