!!! html
html(lang="en")
  head
    meta(charset='utf-8')
    title= "Blitzcrank's Matchmaking Service"
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.js')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='script.js')
  body
    #form
      h1 Blitzcrank's Matchmaking Service
      h2 Discover new champions based on your current champion mastery!
      input.summoner_name(placeholder="Summoner Name")
      input.region(placeholder="Region")
      button.submit Match me

    #content
      //- .recommended.list
      //-   h3 You should try:
      //-   ul.user_rec
      //- .mostplayed.list
      //-   h3 Your 3 most played champions are:
      //-   ul.user_mp
      //-   h3 People with similar preferences play:
      //-   ul.other_mp
      .compatibility
        h3 Compatibility scores with other champions:
        ol.compatibility.container