doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= "Blitzcrank's Matchmaking Service"
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='heart.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-2.2.3.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.js')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='script.js')
  body
    .heart-shape
    #form
      h1 Blitzcrank's Matchmaking Service
      h2 Let the big robot discover which champions you will love!
      input.input.summoner_name(placeholder="Summoner Name")
      //- input.region(placeholder="Region")
      select.input.region
        option(value="NA") NA
        option(value="EUW") EUW
        option(value="EUNE") EUNE
        option(value="KR") KR
        option(value="BR") BR
        option(value="LAN") LAN
        option(value="LAS") LAS
        option(value="OCE") OCE
        option(value="RU") RU
        option(value="TR") TR
      button.submit Match Me &hearts;
      .h3 What is this?
      p Blitzcrank connects summoners with the champions that they are most likely to enjoy playing. 
      p He does this by looking at thousands and thousands of players and paying attention to the groups of champions they like to play. He then uses these observations to assign special attributes to each champion. These attributes can be anything: mobility, ease of play, or even dashing good looks!
      p Finally, Blitzcrank examines <span class="bold">you</span> by looking at all the champions you play. He determines which champion attributes are your favorite. By combining the data from the special champion attributes with your personal preferences, Blitzcrank can make sure that your next champion will be one that you truly love.


    #content.hidden
      .scrolltoarrow
        span.glyphicon.glyphicon-menu-up
        span.arrowlabel Top
      //- .recommended.list
      //-   h3 You should try:
      //-   ul.user_rec
      //- .mostplayed.list
      //-   h3 Your 3 most played champions are:
      //-   ul.user_mp
      //-   h3 People with similar preferences play:
      //-   ul.other_mp
      .compatibility
        .title.compatibility
          h3 Your Compatibility Scores
        ol.compatibility.container