body { 
  background-color: white;
}
h3 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.container {
  max-width: 500px;
}

#form {
  width: 40em;
  margin-top: 15%;
  margin-right: auto;
  margin-left: auto;
}
#content {
  margin-top: 30%;
}
.hidden {
  display: none;
}
.small-img {
  height: 3em;
  width: 3em;
}
li.compatibility {
  font-size: 2em;
}
.top-buffer {
  margin-top: 1em;
}
ol {
  list-style: none;
  &:before {
    counter-reset: item;
  }
  li {
    counter-increment: item;
  }
}
.title {
  margin-left:auto;
  margin-right:auto;
  h3 {
    margin-right: 10%;
  }
}
.scrolltoarrow {
  position: sticky;
  float:left;
  top: 10%;
  margin-left: 10%;
  .glyphicon {
    font-size: 5em;
  }
  .arrowlabel {
    margin-left: 1.6em;
  }
  .glyphicon, .arrowlabel {
    float:left;
    clear:left;
  }
  cursor: pointer;
}